@import url('https://maxcdn.bootstrapcdn.com/bootstrap/5.3.1/css/bootstrap.min.css');

.c1 {
    width: auto;
    height: auto;
    padding-top: 1em;;
    padding-left: 1em;
    padding-right: 1em;
}

.ci1 {
        object-fit: cover;
        vertical-align: middle;
        border-style: none;
        height: 50vh;
        width: 100vw;

}
.bg-mein{
    background-color:  #789681;
    
}
.clothes{
    font-weight: bold;
    color:#789681;
    margin-left: 7%;
    margin-top:3% ;
    font-size: 6vmin;
}

img{width:30vw;height:40vh}
.carousel-inner  .carousel-item.active,.carousel-inner .carousel-item-next,.carousel-inner .carousel-item-prev{display:flex}
.carousel-inner .carousel-item-right.active,.carousel-inner .carousel-item-next{ transform:translateX(100%)}
.carousel-inner .carousel-item-left.active,.carousel-inner .carousel-item-prev{transform:translateX(-100%)}
.carousel-inner .carousel-item-right,.carousel-inner .carousel-item-left{transform:translateX(0)}