@import url('https://maxcdn.bootstrapcdn.com/bootstrap/5.3.1/css/bootstrap.min.css');

.carousel {
    height: 750px !important;
    margin-top: 25px;
    border-radius: 2%;
}

.carousel-inner img {
    height: 650px !important;
    border-radius: 2%;
}

.carousel-indicators li {
    border-color: #000;
}

.carousel-indicators .active {
    background-color: #000;
}
.bg-mein{
    background-color:  #789681;
    
}
.clothes{
    font-weight: bold;
    color:#789681;
    margin-left: 7%;
    margin-top:3% ;
    font-size: 45px;
}
.icons{
    width: 120%;
    height: 300px;
    border-radius: 2%;
    background-color:#789681 ;
}
.border{
    height: 300px;
    width: 10px;
    background-color: #789681;
    margin-left: 80px;
}